In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from nltk.stem import WordNetLemmatizer

In [2]:
lemmatizer = WordNetLemmatizer()

In [3]:
rest = pd.read_csv("../buffet_restaurants.csv")
reviews = pd.read_csv("../buffet_reviews.csv")
reviews = reviews.rename(columns={"stars":"review_stars"})
data = rest.merge(reviews, on="business_id")
aspect = pd.read_csv("../buffet_review_aspect.csv")
data = data.merge(aspect, on=["business_id","review_id"])
data["aspect"] = data["aspect"].str.lower()
data["description"] = data["description"].str.lower()
data.loc[data["description"]=="inferior", "polarity"] = -0.5
data = data[data["review_count"] > 6]
data["aspect"] = data["aspect"].astype(str)
data['aspect'] = data.aspect.apply(lambda x: lemmatizer.lemmatize(x))
data.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,user_id,review_stars,useful,funny,cool,text,date,aspect,description,polarity
0,gsicNDwrLH4WGeWMDcJv6w,Ahmed Indian Restaurant,"11301 S Orange Blossom Trl, Ste 104",Orlando,FL,32837,28.401633,-81.404314,3.5,146,...,qwfVavvEHKTR015tTvDsMQ,5.0,0,0,0,We have been to Ahmed indian restaurant and it...,2016-03-07 01:18:14,restaurant,indian,0.0
1,gsicNDwrLH4WGeWMDcJv6w,Ahmed Indian Restaurant,"11301 S Orange Blossom Trl, Ste 104",Orlando,FL,32837,28.401633,-81.404314,3.5,146,...,qwfVavvEHKTR015tTvDsMQ,5.0,0,0,0,We have been to Ahmed indian restaurant and it...,2016-03-07 01:18:14,experience,great,0.8
2,gsicNDwrLH4WGeWMDcJv6w,Ahmed Indian Restaurant,"11301 S Orange Blossom Trl, Ste 104",Orlando,FL,32837,28.401633,-81.404314,3.5,146,...,i6LKe_wPR2DV0ZGGM42ucQ,3.0,0,0,0,"This was my first at an Indian restrestaurant,...",2014-10-11 19:21:16,restrestaurant,indian,0.0

In [4]:
foods = pd.read_csv("../Dish.csv")
foods = foods[["name"]]
foods = foods.rename(columns={"name": "aspect"})
foods["aspect"] = foods["aspect"].str.lower()
data_food = data.merge(foods, on="aspect")
exclude = ["restaurant", "education", "food", "dishes",
          "choice", 20, "20", "cuisine", "plaza", "-",
          "1", "10", "100", "14", "2", "40", "50", "60",
          "90", "a", "american", "b", "c", "cool", "i.", "in",
          "y", "source", "dinner", "menu", "entrees", "portion",
          "meals", "special", "cups", "fix", "this", "tips", "plate",
          "entree", "lunch", "star", "combination", "selections", "cup", 
           "straw", "fave", "sides", "nature", "baby", "draw", "minute","reception",
          "red", "specialties", "pan", "fresh", "pains", "ketchup", "flies",
          "condiments", "ginger", "ice", "pop", "hollywood", "french", "appetizer",
          "sauces", "side", "pot", "cafe", "dinners", "house", "poop", "kisses",
          "dates", "island", "oder", "collection", "millionaire", "basket",
          "brains", "knife", "tab", "pain", "glass", "exchange", "fine", "the",
          "table", "power", "luxury", "list", "leg", "pepsi", "two", "blue",
          "bomb", "bottle", "bud", "public", "white", "supper", "plain", "program"]
data_food = data_food[~data_food["aspect"].isin(exclude)]

In [5]:
data_food.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'review_id', 'user_id',
       'review_stars', 'useful', 'funny', 'cool', 'text', 'date', 'aspect',
       'description', 'polarity'],
      dtype='object')

In [6]:
rest_food = data_food[["categories", "name", "aspect", "stars"]].drop_duplicates()
rest_food

,categories,name,aspect,stars
10533,"Indian, Pakistani, Bangladeshi, Restaurants, H...",Ahmed Indian Restaurant,curry,3.5
10543,"Restaurants, Halal, Indian, Pakistani, Banglad...",Ahmed Indian Restaurant,curry,4.0
10550,"Buffets, Seafood, Restaurants, Asian Fusion, S...",Crazy Buffet,curry,3.5
10551,"Restaurants, Indian, Buffets",Curry House Indian Cuisine,curry,4.5
10553,"Pakistani, Beer, Wine & Spirits, Food Delivery...",Gateway To India,curry,4.0
...,...,...,...,...
37602,"American (New), Argentine, Buffets, Barbeque, ...",The Knife - Lake Buena Vista,leche,3.0
37604,"American (New), Argentine, Buffets, Barbeque, ...",The Knife - Lake Buena Vista,sweetbread,3.0
37605,"American (New), Argentine, Buffets, Barbeque, ...",The Knife - Lake Buena Vista,gelato,3.0
37606,"American (New), Argentine, Buffets, Barbeque, ...",The Knife - Lake Buena Vista,beet,3.0
37611,"Restaurants, American (New), Buffets, Dominica...",Tropical Cabana,stew,5.0

In [7]:
# rest_food.to_csv("rest_food.csv", index=False)

In [8]:
set(rest_food["aspect"])

{'achar',
 'ale',
 'ambassador',
 'amerikanischer',
 'aperitif',
 'apple',
 'applesauce',
 'arroz',
 'asparagus',
 'atrium',
 'auditorium',
 'avocado',
 'bacon',
 'bagel',
 'bake',
 'banana',
 'beef',
 'beer',
 'beet',
 'beverage',
 'bier',
 'bird',
 'biscuit',
 'bisque',
 'bowl',
 'box',
 'bratwurst',
 'brazilian',
 'bread',
 'breakfast',
 'broccoli',
 'broth',
 'brown',
 'brownie',
 'brunch',
 'buffalo',
 'burger',
 'burgundy',
 'burrito',
 'butter',
 'butterfly',
 'buttermilk',
 'cabbage',
 'cabinet',
 'cafÃ¨',
 'cage',
 'cake',
 'calamari',
 'candy',
 'cantaloupe',
 'caprese',
 'caramel',
 'carrot',
 'casserole',
 'celebration',
 'cereal',
 'champagne',
 'chard',
 'chardonnay',
 'charter',
 'cheddar',
 'cheese',
 'cheeseburger',
 'cheesecake',
 'cherry',
 'chicken',
 'chili',
 'chinese',
 'chip',
 'chocolate',
 'chop',
 'chow',
 'chowder',
 'chutney',
 'cider',
 'cinnamon',
 'clam',
 'club',
 'coaster',
 'cobbler',
 'cocktail',
 'cocoa',
 'cod',
 'coffee',
 'coke',
 'cold',
 'coleslaw',
 'compote',
 'confection',
 'consolation',
 'cooked',
 'corn',
 'cornbread',
 'cottage',
 'crab',
 'crabmeat',
 'cracker',
 'cranberry',
 'crawfish',
 'cream',
 'creme',
 'criterion',
 'croissant',
 'cucumber',
 'curry',
 'custard',
 'cutlet',
 'cutter',
 'dairy',
 'dal',
 'der',
 'desert',
 'dessert',
 'diner',
 'discussion',
 'double',
 'doughnut',
 'dozen',
 'draft',
 'dream',
 'dressing',
 'drink',
 'duck',
 'dumpling',
 'dutch',
 'edamame',
 'eel',
 'egg',
 'eggplant',
 'eggs-',
 'empire',
 'enchilada',
 'extra',
 'filet',
 'fillet',
 'fish',
 'flake',
 'flamingo',
 'flan',
 'flip',
 'florida',
 'fluke',
 'fondue',
 'force',
 'frog',
 'fruit',
 'fry',
 'frÃ¼hstÃ¼ck',
 'fudge',
 'game',
 'garbage',
 'garlic',
 'gateau',
 'gateway',
 'gelato',
 'gluten',
 'goose',
 'grain',
 'grape',
 'gratin',
 'gravy',
 'green',
 'grille',
 'guacamole',
 'gum',
 'half',
 'halibut',
 'ham',
 'hamburger',
 'hash',
 'heart',
 'hill',
 'honey',
 'horseradish',
 'hot',
 'hummus',
 'hunter',
 'indian',
 'jam',
 'jello',
 'jelly',
 'joint',
 'juice',
 'junket',
 'korma',
 'kraut',
 'lamb',
 'large',
 'leche',
 'lemon',
 'lemonade',
 'lettuce',
 'light',
 'lime',
 'loaf',
 'lobster',
 'local',
 'macaroni',
 'macarons',
 'macaroon',
 'magenta',
 'manager',
 'mango',
 'margarita',
 'marsala',
 'marshmallow',
 'martini',
 'master',
 'mayonaise',
 'mayonnaise',
 'meat',
 'meatloaf',
 'medium',
 'meeting',
 'melon',
 'mexican',
 'mikado',
 'milk',
 'mimosa',
 'mine',
 'mint',
 'mixture',
 'mousse',
 'mozzarella',
 'muffin',
 'mug',
 'mush',
 'mushroom',
 'music',
 'mustard',
 'nan',
 'native',
 'neck',
 'nectar',
 'noodle',
 'nut',
 'oatmeal',
 'octopus',
 'okra',
 'olive',
 'omelet',
 'omelette',
 'omlette',
 'onion',
 'orange',
 'oyster',
 'paella',
 'palace',
 'pancake',
 'papad',
 'papadum',
 'pappadum',
 'parmesan',
 'pasta',
 'pasteles',
 'pastry',
 'pea',
 'pearl',
 'pecan',
 'peer',
 'pepper',
 'pepperoni',
 'perch',
 'perfection',
 'pickle',
 'pie',
 'pig',
 'pineapple',
 'pita',
 'pitcher',
 'pizza',
 'pluto',
 'polenta',
 'polka',
 'polonaise',
 'pommes',
 'popcorn',
 'pork',
 'potato',
 'potatoe',
 'prawn',
 'princess',
 'prosciutto',
 'provolone',
 'pudding',
 'punch',
 'puree',
 'quesadilla',
 'queso',
 'quiche',
 'radish',
 'raisin',
 'raita',
 'raspberry',
 'ravioli',
 'regular',
 'rhubarb',
 'rice',
 'roast',
 'rock',
 'roll',
 'rose',
 'roti',
 'rum',
 'runner',
 'sake',
 'salad',
 'salami',
 'salmon',
 'salsa',
 'salt',
 'sandwich',
 'sangria',
 'sashimi',
 'sauce',
 'sauerbraten',
 'sauerkraut',
 'sausage',
 'schnitzel',
 'scone',
 'seafood',
 'sherbet',
 'shortcake',
 'shrimp',
 'sirloin',
 'skate',
 'slaw',
 'slice',
 'snow',
 'society',
 'soda',
 'soup',
 'souvenir',
 'spaghetti',
 'spinach',
 'spring',
 'sprite',
 'squash',
 'squid',
 'steak',
 'stein',
 'stew',
 'stingray',
 'strawberry',
 'strudel',
 'sugar',
 'sundae',
 'sunshine',
 'sushi',
 'sweet',
 'sweetbread',
 'syrup',
 'tabbouleh',
 'taco',
 'tamale',
 'tart',
 'tartlet',
 'tea',
 'team',
 'tempura',
 'tenderloin',
 'testimonial',
 'three',
 'toast',
 'toddy',
 'tofu',
 'tomato',
 'tongue',
 'tonic',
 'torte',
 'tortilla',
 'tripe',
 'tuna',
 'turkey',
 'turtle',
 'vanilla',
 'veal',
 'vegetable',
 'vegetarian',
 'veggie',
 'victor',
 'vinaigrette',
 'volcano',
 'wafer',
 'waffle',
 'water',
 'watermelon',
 'whitefish',
 'wiener',
 'wine',
 'yogurt',
 'zucchini'}

In [9]:
diff_data = []
for food in list(set(rest_food["aspect"])):
    food_yes = rest_food[rest_food["aspect"] == food]
    food_yes_rest = set(food_yes["name"])
    food_no = rest_food[~rest_food["name"].isin(food_yes_rest)]
    rest_yes = food_yes[["name", "stars"]].drop_duplicates()
    rest_no = food_no[["name", "stars"]].drop_duplicates()
    yes_score = rest_yes["stars"].mean()
    no_score = rest_no["stars"].mean()
    yes_count = rest_yes["stars"].count()
    no_count = rest_no["stars"].count()
    diff_data.append([food, yes_score, no_score, 
                      yes_count, no_count, yes_score - no_score])
diff_df = pd.DataFrame(data=diff_data, columns=["food", "yes","no", 
                            "yes_count", "no_count", "diff"])
diff_df

           food       yes        no  yes_count  no_count      diff
0          bier  4.000000  3.426471          1        68  0.573529
1    cantaloupe  3.500000  3.433824          1        68  0.066176
2         bacon  3.315789  3.500000         19        48 -0.184211
3       sausage  3.571429  3.400000         14        55  0.171429
4        pastry  3.750000  3.375000         14        52  0.375000
..          ...       ...       ...        ...       ...       ...
387  auditorium  3.500000  3.433824          1        68  0.066176
388      hummus  4.000000  3.426471          1        68  0.573529
389        rice  3.410256  3.446429         39        28 -0.036172
390       sugar  3.642857  3.426230          7        61  0.216628
391     papadum  4.000000  3.398438          3        64  0.601562

[392 rows x 6 columns]

In [14]:
diff_df[diff_df["yes_count"] >= 3].sort_values("diff", ascending=False)[:20]

        food       yes        no  yes_count  no_count      diff
322     chop  4.300000  3.365079          5        63  0.934921
203     lamb  4.166667  3.362903          6        62  0.803763
373   pickle  4.125000  3.344262          8        61  0.780738
43     chili  4.166667  3.400000          3        65  0.766667
148    curry  4.000000  3.350000          9        60  0.650000
391  papadum  4.000000  3.398438          3        64  0.601562
137    punch  4.000000  3.398438          4        64  0.601562
349      dal  4.000000  3.409091          3        66  0.590909
269    filet  4.000000  3.409091          3        66  0.590909
39      beer  3.842105  3.288889         19        45  0.553216
333  chutney  3.928571  3.377049          7        61  0.551522
273     flan  3.916667  3.408333          6        60  0.508333
304  custard  3.900000  3.403226          5        62  0.496774
207      box  3.857143  3.385246          7        61  0.471897
267    apple  3.875000  3.407692          4        65  0.467308
271    honey  3.875000  3.407692          4        65  0.467308
312    dream  3.857143  3.416667          7        60  0.440476
52      meat  3.562500  3.138889         48        18  0.423611
193     sake  3.833333  3.416667          3        66  0.416667
119      ale  3.833333  3.416667          3        66  0.416667

In [15]:
diff_df[diff_df["yes_count"] >= 3].sort_values("diff", ascending=True)[:20]

            food       yes        no  yes_count  no_count      diff
69      calamari  2.833333  3.508065          3        62 -0.674731
303     crawfish  3.000000  3.508333          8        60 -0.508333
182        candy  3.000000  3.492063          4        63 -0.492063
316         bird  3.000000  3.491803          5        61 -0.491803
104  marshmallow  3.000000  3.484127          3        63 -0.484127
277         mush  3.000000  3.475410          5        61 -0.475410
246     broccoli  3.050000  3.508772         10        57 -0.458772
251     souvenir  3.000000  3.454545          3        66 -0.454545
65       cabbage  3.000000  3.445312          3        64 -0.445312
57         sushi  3.175000  3.574468         20        47 -0.399468
99         cocoa  3.100000  3.483607          5        61 -0.383607
202      brownie  3.150000  3.527273         10        55 -0.377273
353      cheddar  3.125000  3.491935          4        62 -0.366935
237        pizza  3.235294  3.595745         17        47 -0.360451
118          egg  3.239130  3.593023         23        43 -0.353893
309        fudge  3.125000  3.476190          4        63 -0.351190
21          frog  3.125000  3.468750          4        64 -0.343750
307      garbage  3.187500  3.526786          8        56 -0.339286
37         melon  3.125000  3.453125          4        64 -0.328125
342        cream  3.264706  3.590909         34        33 -0.326203

In [13]:
rest_food[["name", "stars"]].drop_duplicates()["stars"].mean()

3.4347826086956523